{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Amusement Park</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">

</head>

<body>
  <header>
    <div class="pos-f-t" style="padding: 1em;">
      <nav class="navbar navbar-dark bg-primary d-flex justify-content-start">
        <button class="navbar-toggler btn-sm" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
          aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation" style="border-color: white; border-width: 0.2em; font-size: .6em">
          <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class='text-light ml-2'>Amusement Park</h1>
        <div class="collapse navbar-collapse" id="navbarSupportedContent1" style="background-color: #F2EB2E;">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}" style="padding-left: 0.5em;color: black;">Amusement Park</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'newsletter' %}" style="padding-left: 0.5em;color: black;">Newsletter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'signup' %}" style="padding-left: 0.5em;color: black;">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin' %}" style="padding-left: 0.5em;color: black;">Admin</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <main class="container">
    {% block content %}
    <!-- where all the other files go -->
    {% endblock %}
  </main>

  <!-- Bootstrap JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>