{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="hero-image">
    <div class="hero-text">
        <h1>Amusement Park</h1>
        <img src="/static/images/amusementPark3.jpg" class="d-block w-100">
    </div>
</div>
<h4>Rides</h4>
<div class="container">
    <div class="row justify-content-between">
        <img src="https://cdn4.buysellads.net/uu/1/65221/1591053599-DATADOG-Plain.jpg" alt="..."
            class="img-thumbnail w-25">
        <img src="https://cdn4.buysellads.net/uu/1/65221/1591053599-DATADOG-Plain.jpg" alt="..."
            class="img-thumbnail w-25">
        <img src="https://cdn4.buysellads.net/uu/1/65221/1591053599-DATADOG-Plain.jpg" alt="..."
            class="img-thumbnail w-25">
    </div>
</div>
<h4>Entertainment Shows</h4>
<div class="container">
    <div class="row justify-content-between">
        <img src="https://cdn4.buysellads.net/uu/1/65221/1591053599-DATADOG-Plain.jpg" alt="..."
            class="img-thumbnail w-25">
        <img src="https://cdn4.buysellads.net/uu/1/65221/1591053599-DATADOG-Plain.jpg" alt="..."
            class="img-thumbnail w-25">
        <img src="https://cdn4.buysellads.net/uu/1/65221/1591053599-DATADOG-Plain.jpg" alt="..."
            class="img-thumbnail w-25">
    </div>
</div>
<h4>Landscaping</h4>
<div class="container">
    <div class="row justify-content-between">
        <img src="https://cdn4.buysellads.net/uu/1/65221/1591053599-DATADOG-Plain.jpg" alt="..."
            class="img-thumbnail w-25">
        <img src="https://cdn4.buysellads.net/uu/1/65221/1591053599-DATADOG-Plain.jpg" alt="..."
            class="img-thumbnail w-25">
        <img src="https://cdn4.buysellads.net/uu/1/65221/1591053599-DATADOG-Plain.jpg" alt="..."
            class="img-thumbnail w-25">
    </div>
</div>
<h4>Foods</h4>
<div class="container">
    <div class="row justify-content-between">
        <img src="https://cdn4.buysellads.net/uu/1/65221/1591053599-DATADOG-Plain.jpg" alt="..."
            class="img-thumbnail w-25">
        <img src="https://cdn4.buysellads.net/uu/1/65221/1591053599-DATADOG-Plain.jpg" alt="..."
            class="img-thumbnail w-25">
        <img src="https://cdn4.buysellads.net/uu/1/65221/1591053599-DATADOG-Plain.jpg" alt="..."
            class="img-thumbnail w-25">
    </div>
</div>
<div class='d-flex flex-column'>
    <h3 class="text-center">Let's Stay Connected!</h3>
    <p class="text-center">Sign up for Amuse</p>
    <input type="email" placeholder="Enter your Email">
    <p class="text-center">We promise: we will never sell your information. Sign up for our newsletter to recieve
        special
        offers and updates. Select your communication preferrences on the next screen.</p>
    <form action="{% url 'signup' %}" method="GET">
        {% csrf_token %}
        <button type="button" class="btn btn-primary btn-lg btn-block ">Continue</button>
    </form>
    <button type="button" class="btn btn-link btn-lg btn-block">Learn more</button>
</div>

{% endblock %}