{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="hero-image">
    <div class="hero-text">
        <h1>Newsletter</h1>
        <img src="/static/images/amusementPark2.jpg" class="d-block w-100"
                alt="...">
    </div>
</div>

<h4>Rides</h4>
<div class="container">
    <div class="row justify-content-between">
        <img src="https://cdn4.buysellads.net/uu/1/65221/1591053599-DATADOG-Plain.jpg" alt="..."
            class="img-thumbnail w-25">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, quae culpa repudiandae possimus repellat accusantium! Fugiat deleniti quaerat laborum incidunt, sint sunt ea voluptatum qui error mollitia eligendi iste reprehenderit?</p>
    </div>
</div>
<h4>Entertainment Shows</h4>
<div class="container">
    <div class="row justify-content-between">
        <img src="https://cdn4.buysellads.net/uu/1/65221/1591053599-DATADOG-Plain.jpg" alt="..."
            class="img-thumbnail w-25">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, quae culpa repudiandae possimus repellat accusantium! Fugiat deleniti quaerat laborum incidunt, sint sunt ea voluptatum qui error mollitia eligendi iste reprehenderit?</p>
    </div>
</div>
<h4>Landscaping</h4>
<div class="container">
    <div class="row justify-content-between">
        <img src="https://cdn4.buysellads.net/uu/1/65221/1591053599-DATADOG-Plain.jpg" alt="..."
            class="img-thumbnail w-25">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, quae culpa repudiandae possimus repellat accusantium! Fugiat deleniti quaerat laborum incidunt, sint sunt ea voluptatum qui error mollitia eligendi iste reprehenderit?</p>
    </div>
</div>
<h4>Foods</h4>
<div class="container">
    <div class="row justify-content-between">
        <img src="https://cdn4.buysellads.net/uu/1/65221/1591053599-DATADOG-Plain.jpg" alt="..."
            class="img-thumbnail w-25">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, quae culpa repudiandae possimus repellat accusantium! Fugiat deleniti quaerat laborum incidunt, sint sunt ea voluptatum qui error mollitia eligendi iste reprehenderit?</p>
    </div>
</div>

{% endblock %}
